.comment__line{
    margin-top: 1rem;
    width: 100%;
    display: inline-grid;
    grid-template: 1fr / 50px 90% ;
    align-items: center;
    justify-content: center;
}
.comment__line textarea{
    margin-left: 1rem;
    padding: 0.5rem !important;
    width: 95%;
    height: 9rem;
}
.comment__line--info{
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.comment__line--info button{
    width: 100px;
    font-size: 1.5rem;
    margin-top: 1rem;
    align-self: flex-end;
}
.comment__line--info > p{
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start !important;
    font-size: 1.5rem !important;
}
.comment__text{
    text-align: justify !important;
    font-size: 2rem !important;
}
.comment__line img{
    width: 50px !important;
    height: 50px;
    border: 2px solid var(--fh_color);
    border-radius: 50%;
}
.comment__area{
    width: 95%;
    margin: 0 auto;
}
@media (max-width: 800px){
    .comment__area{
        width: 80%;
    }
}
